/** Big screens */
@media (min-width: 768px) {
  .navbar-brand {
    position: absolute !important;
  }
}

/** Scrollbars */
html {
  --scrollbarBG: #1b1b1b;
  --thumbBG: #f9004d;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body {
  scroll-behavior: smooth;
  /*   overflow: auto;
  overflow-x: hidden; */
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/** Animations */
@keyframes wait {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.5);
    transform: translatey(20px);
    opacity: 0;
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.9);
    transform: translatey(0px);
    opacity: 1;
  }
}

/** Tags, classes, etc. */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f9004d;
}

main {
  background-color: black;
  color: white;
}

p {
  padding: 10px 0 10px 0;
  margin: 10px 0 0 0;
}

main .container {
  width: auto;
  max-width: 680px;
  padding: 70px 20px 0 20px;
  background-color: #1b1b1b;
}

main .container h2 {
  border: 2px #f9004d solid;
  border-left: 0;
  border-right: 0;
  padding: 10px;
  position: absolute;
  left: 0;
  translate: 0 -70px;
  text-align: center;
  width: calc(100vw - 1rem);
  background-color: #212529;
  visibility: hidden;
}


.fa-white {
  color: white;
}

.screen {
  margin-top: 5vh;
  min-height: calc(100vh - 120px);
  padding-top: 60px;
}
.scrolla{
  translate: 0 -20px;
  display: block;
  height: 10px;
}

#profile {
  width: 138px;
  height: 138px;
  animation: float;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.5s;
  /* don't forget to set a duration! */
}

#card {
  /*opacity: 0;*/
  animation: wait 0.5s, fadeInRight 0.5s 1s;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
  /* don't forget to set a duration! */
}