/** Scrollbars */
html {
  --scrollbarBG: #1b1b1b;
  --thumbBG: #f9004d;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body {
  scroll-behavior: smooth;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  background: url('../img/bk.jpg') fixed;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/** Tags, classes, etc. */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f9004d;
}

main {
  /*background-color: black;*/
  color: white;
  max-width: 100%;
  overflow: hidden;
}

main .container p {
  padding: 5px 0 5px 0;
  margin: 0;
}

main .container {
  width: auto;
  max-width: 680px;
  padding: 70px 20px 0 20px;
  background-color: #1b1b1b;
}

main .container h2 {
  border: 2px #f9004d solid;
  border-left: 0;
  border-right: 0;
  padding: 10px;
  position: absolute;
  left: 0;
  translate: 0 -70px;
  text-align: center;
  width: 100vw;
  background-color: #212529aa;
  visibility: hidden;
}


.fa-white {
  color: white;
}

.screen {
  margin-top: 37px;
  min-height: 105vh;
  padding-top: 60px;
}

.scrolla {
  translate: 0 -20px;
  display: block;
  height: 10px;
}

a.contact-link{
  color:#f9004d;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
a.link-light{
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s !important;
}
a.contact-link:hover, a.link-light:hover{
  color: #ff97b6 !important;
}

#profile {
  width: 138px;
  height: 138px;
  display: block;
  visibility: hidden;
}

#data-picture {

  display: block;
}

#card {
  visibility: hidden;
  font-size: 0.8em;
}

#data-description{
  margin-top: 20px;
}

:is(#data-experience, #data-abilities) .card{
  margin-bottom: 10px;
}

:is(#data-experience, #data-abilities) .card h6{
  margin-top: 10px;
}


#icon1,#icon2,#icon3{
  visibility: hidden;
}

/** Big screens */
@media (min-width: 768px) {
  .navbar-brand {
    position: absolute !important;
  }

  main .container h2 {
    width: calc(100vw - 1rem);
  }

  #card{
    font-size: 1em;
  }
}